

#slides img{
  max-width: :100%;
  height:auto;
  margin:auto;
}


#catSlides img{
  max-width: :100%;
  height:auto;
  margin:auto;
}

h2{
  text-align: center;
  color:rgb(200,200,200)
}

.centered{
  margin:auto;
  width:auto
}

.maxWith{
  width:100%;
}

#random-gif-container{
  margin:auto;
  width:auto;
  text-align: center;
  display: block;
  cursor: pointer;
}

.coolBackground{
  background: url(../images/background.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height:100%;
}

img{
    border-radius: 20px;
}
body{
  height:100%;
  background-color: black;
}
html{
  height:100%;
}

h1{
  color:white;
}
