
#slides img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

#catSlides img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

h2 {
    text-align: center;
    color: rgb(200, 200, 200)
}

.centered {
    margin: auto;
    width: auto;
    text-align: center;
}

.maxWith {
    width: 100%;
}

#random-gif-container {
    margin: auto;
    width: auto;
    text-align: center;
    display: block;
    cursor: pointer;
    height: 100%;
}

.coolBackground {
    background: url(../images/background.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 50px;
}

ul {
    list-style-type: none;
}

li {
    padding: 20px;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    border-radius: 20px;
}

body {
    height: 100%;
    background-color: black;
}

html {
    height: 100%;
}

h1 {
    color: white;
}

.tab-pane {
    padding-top: 50px;
}

.pull-right {
    float: right;
    padding-right: 15px;
}